* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    padding-top: 20px;
}
/* <!-- Nav CSS --> */
#dropdownMenuLink {
    background-color: white;
    color: #0D1D21 !important;
    border-color: white;
    align-items: left !important;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
}
#dropdownMenuLink:hover {
    background-color: #E5584C;
    color: white !important;
}
#hamburger {
    display: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav > li {
    padding-right: 10px;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-outline-success {
    background-color: white;
    border: none;
    color: #0D1D21;
    cursor: pointer;
    font-family: "Gill Sans",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-right: 20px;
} 
.btn-outline-success:hover {
    background-color: #E5584C;
    color: white;
}
/* Mobile Version of Nav */
@media only screen and (max-width: 995px) {
    #hamburger {
        color: black !important;
        padding: 15px;
        margin-top: 100px;
        right: 40px;
        margin-right: 15px;
        border-color: white;
        border-width: 2px;
    }    
}
/* <!-- About Me Section --> */
.aboutMe {
    display: flex;
    min-height: 2000px;
}
.aboutMe .portrait {
    align-self: center;
    position: relative;
    z-index: 1;
}
.aboutFlower img {
    background-size: 200px !important;
    position: absolute;
    top: -50px;
    left: -170px;
    height: auto; 
    z-index: 0;
    animation: big-spin 120s linear infinite;
}
@keyframes big-spin {
    0% {transform: rotate(0deg);
    }
    100% {transform: rotate(360deg);
    }
}
.portrait img {
    background: url(images/Image.png) center;
    background-size: cover;
    margin: 16px 0 0 16px;
    height: auto;
    position: absolute;
    top: 270px;
    left: 10px;
    z-index: 1;
    border: 3px solid #E5584C;
    box-sizing: border-box;
    border-radius: 20px;
}
.description h1 {
    position: absolute;
    top: -180px;
    width: 350px;
    height: auto;
    font-family: 'PT Sans', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #0D1D21;
}
.description p {
    position: absolute;
    height: auto;
    top: -120px;
    width: 350px;
    font-family: 'PT Sans', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    color: #0D1D21;
}
.button {
    text-transform: uppercase;
    font: 400 16px 'PT Sans', 'sans-serif';
    letter-spacing: .075rem;
    line-height: 1.5rem;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: #E5584C;
    cursor: pointer;
    text-align: center;
    max-width: 360px;
    width: 150%;
}